<!-- auth.component.html -->

<div class="auth-container">
  <div class="auth-box">
    <div *ngIf="isSignIn">
      <h2>Sign In</h2>
      <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="email@email.com"
            required
            [(ngModel)]="signInEmail"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            required
            [(ngModel)]="signInPassword"
          />
        </div>

        <button type="submit">Login</button>
        <div *ngIf="signInError" class="error-message">{{ signInError }}</div>
      </form>
    </div>
    <div *ngIf="!isSignIn">
      <h2>Sign Up</h2>
      <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
        <div class="form-group">
          <label for="signup-email">Email</label>
          <input
            type="email"
            id="signup-email"
            name="signup-email"
            placeholder="email@email.com"
            required
            [(ngModel)]="signUpEmail"
          />
        </div>

        <div class="form-group">
          <label for="signup-password">Password</label>
          <input
            type="password"
            id="signup-password"
            name="signup-password"
            required
            [(ngModel)]="signUpPassword"
          />
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            [(ngModel)]="confirmPassword"
          />
        </div>

        <button type="submit">Register</button>
        <div *ngIf="signUpError" class="error-message">{{ signUpError }}</div>
      </form>
    </div>
    <button (click)="toggleForm()">
      {{ isSignIn ? "Need to sign up? Register" : "Already a user? Login" }}
    </button>
  </div>
</div>
